.card{
  border: 1px solid hsl(0, 24%, 64%);
  border-radius: 8px;
  background-color: #ffffff;
  
  border-radius: 8px;
  padding: 10px;
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
  box-shadow: 5px 5px 10px#443535;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card-img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  align-items: center;
  border-radius: 50px;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
}